/* ACNH DATABASE by ADAM MORSA
twitter.com/ramblingadam
github.com/ramblingadam 

All code copyright Adam Morsa. All rights reserved.*/

/* Box Model Bugfixer */
/* * {
     outline: 1px solid red;
} */

/* Box Model */
* {
     box-sizing: border-box;
}

/******************************************
/* COLORS
/*******************************************/



/******************************************
/* TYPOGRAPHY
/*******************************************/
@font-face {
     font-family: 'Fink Heavy';
     src: url('../assets/FinkHeavy.otf') format('opentype');
}
@font-face {
     font-family: 'Adventure';
     src: url('../assets/Adventure.otf') format('opentype');
}
html {
     font-family: 'Source Sans Pro', sans-serif;
}

header li,
h2 {
     /* font-family: 'Concert One', cursive; */
     font-family: 'Fink Heavy', serif;
     /* font-family: 'Adventure' */
    
}



/******************************************
/* BASE STYLES
/*******************************************/
/* Set 1 rem to 10px */
html {
     font-size: 62.5%;
     /* font-family: sans-serif; */

     scroll-behavior: smooth;
     

     background: url('../assets/grassPattern.png');
     background-size: 70px;
     /* background-size: 100% auto; */
     /* background-position: contain; */
     background-attachment: fixed;
     /* background: rgb(255, 222, 113); */
     /* padding-top: 2rem; */
}

body {
     position: relative;
     overflow-x:hidden;
     overflow-y: scroll;
}


/* SCROLLBARS */
/* Firefox */
* {
     scrollbar-width: auto;
     scrollbar-color: orange rgb(255, 203, 65);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
width: 15px;
}

*::-webkit-scrollbar-track {
background: rgb(255, 222, 113);
}

*::-webkit-scrollbar-thumb {
background-color: rgb(255, 203, 65);
border-radius: 20px;
border: 3px solid orange;
}
/* END SCROLLBARS */


/******************************************
/* LAYOUT
/*******************************************/

/* To Top Button */
#toTop {   
     position: fixed;
     bottom: 20px;
     right: 20px;
     z-index: 2;

     /* margin-top: calc(100vh - 100px); */

     font-size: 3rem;

     border: 1px dashed black;
     border-radius: 50%;
     background: rgb(255, 222, 113);
     width: 32px;
     height: 32px;

     display: flex;
     justify-content: center;
     align-items: center;
     /* transition: .5s; */

}

#toTop a {
     color:rgb(95, 38, 112);
     transition: color .3s;
}
#toTop a:hover {
     color:rgb(213, 75, 255);
     transition: color .3s;
}


/* HEADER/ NAV LAYOUT */
header {
     position: relative;

     /* background: rgb(255, 222, 113); */
     background: url('../assets/acnhBeachCropped_sm.jpg');
     background-size: contain;
     background-size: auto 100%;
     background-repeat: repeat-x;

     display: flex;
     flex-flow: column nowrap;
     justify-content: space-around;
     align-items: center;
     border-bottom: 3px dashed black;

     overflow: hidden;
}

/* FLOATING BALLOON */
#balloon {
     position: absolute;
     top: 7%;
     animation: sway 5s linear infinite, float 60s linear infinite alternate;
     z-index: 1
}

@keyframes sway {
     0% {
          transform: rotate(15deg)
     }
     /* 45% {
          transform: rotate(-10deg)
     } */
     50% {
          transform: rotate(-15deg)
     }
     /* 95% {
          transform: rotate(10deg)
     } */

     100% {
          transform: rotate(15deg)
     }
}

@keyframes float {
     0% {
          right: 150%
     }
     100% {
          right: -50%
     }
}

@keyframes bob {
     0% {
          top: 10%;
     }
     50% {
          top: 15%;
     }
     100% {
          top: 10%;
     }
}

@media all and (min-width: 1200px) {
     #balloon {
          animation: sway 5s linear infinite, float 80s linear infinite alternate;
     }
}




/* LOGO */
.logoBox {
     position: relative;
}
.logo {
     max-height: 15rem;
     margin: .5rem;
     /* z-index: 1; */
}

/** Music Toggle Button */
#musicToggle {
     position: absolute;
     left: 20%;
     top: 10%;
     font-size: 2rem;
     /* color: rgb(122, 84, 46); */
     color: rgb(255, 222, 113);
     /* text-shadow: 2px 2px 4px rgb(255, 209, 80); */
     cursor: pointer;
     /* transition: text-shadow .5s; */
     text-shadow: 0 0 1px rgb(0,0,0), 0 0 2px rgb(0,0,0), 0 0 3px rgb(0,0,0);

}

#musicToggle:hover {
     /* text-shadow: 0 0 5px rgba(255, 255, 255,1); */
     transition: .3s;
     animation: wiggle .5s linear infinite;
}

/* Now Playing Popup */
.nowPlayingBox {
     position: absolute;
     top: 6%;
     left: 65%;
     transform: translateX(-50%);
     white-space: nowrap;

     font-size: 2rem;
     padding: .5rem;
     background: rgb(255, 222, 113);
     border: 1px dashed black;
     border-radius: 5px;
     opacity: 1;
     transition: opacity .5s;
     width: auto;
}


.nowPlayingBox i {
     animation: tinywiggle 3s linear infinite;
}

.nowPlayingHidden {
     opacity: 0;
     transition: opacity 2s;
}

/* Twitter Button */
#twitter {
     position: absolute;
     right: -5%;
     bottom: 5%;
     font-size: 2rem;
     /* color: rgb(122, 84, 46); */
     color: rgb(255, 222, 113);
     /* text-shadow: 2px 2px 4px rgb(255, 209, 80); */
     cursor: pointer;
     /* transition: text-shadow .5s;  */
     text-shadow: 0 0 1px rgb(0,0,0), 0 0 2px rgb(0,0,0), 0 0 3px rgb(0,0,0);
     /* text-shadow: 0 0 1px rgb(0,0,0), 0 0 2px rgb(0,0,0), 0 0 3px rgb(0,0,0), 0 0 4px rgb(0,0,0); */

}

#twitter:hover {
     /* text-shadow: 0 0 10px rgba(255, 255, 255,1); */
     transition: .3s;
     animation: wiggle .5s linear infinite;
}


/* Button wiggle animations! */

@keyframes wiggle {
     0% {
          transform: rotate(0deg);
     }
     25%{
          transform: rotate(-15deg);
     }
     75%{
          transform: rotate(15deg);
     }
     100% {
          transform: rotate(0deg);
     }
}

@keyframes tinywiggle {
     0% {
          transform: rotate(0deg);
     }
     25%{
          transform: rotate(-5deg);
     }
     75%{
          transform: rotate(5deg);
     }
     100% {
          transform: rotate(0deg);
     }
}


/* ! ---------------- CATEGORIES MENU --------------- */

/* Nav */

nav ul {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     font-size: 2rem;
     background: rgba(255, 222, 113,1);
     /* background: rgba(162, 107, 56,1); */
     border-radius: 10px 10px 0 0;
     border-top: 2px dashed black;
     border-right: 2px dashed black;
     border-left: 2px dashed black;

}

nav li {
     padding: 1rem;
     text-decoration: none;
     color: rgb(95, 38, 112);
     /* color: rgb(255, 222, 113); */
     /* border: 1px solid rgb(162, 107, 56); */
     /* min-width: 10rem; */
     text-align: center;

     transition: color .5s, text-shadow .5s;
}

nav li:hover {
     cursor: pointer;
     color: rgb(213, 75, 255);
     /* text-shadow: -2px 2px 5px rgba(0,0,0,1); */
     text-shadow: 0 0 5px white;

     transition: color .5s, text-shadow .5s;
}

.currentCategory {
     color: rgb(213, 75, 255);
     text-shadow: 0 0 10px rgb(255, 255, 255);
}

/* TODO Hamburger Menu */
@media all and (max-width: 580px) {
     /* nav ul { */
          /* position: fixed; */
          /* display: flex; */
          /* flex-flow: column nowrap; */
          /* z-index: 100; */
          /* border-radius: 10px; */
          /* width: 10vw; */
          /* left: 25vw; */
     /* } */
     /* nav li:not(:last-of-type) { */
       /* padding-bottom: 0rem    */
     /* } */
}



/* ! ---------------- CONTENT GRID ------------------ */
/** GRID CONTAINER */
.content {
     /* padding-top: 1rem; */

     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
 
}


/** SEARCH BAR & HEMISPHERE TOGGLE */
.searchBox {
     /* background: rgba(255, 222, 113,1); */
     /* padding: 0 1rem 1rem 1rem; */
     padding: 1.3rem;
     /* border-radius: 0 0 10px 10px; */
     border-radius: 10px;
}

form  {
     position: relative;
}


/** Hemisphere Toggle Button */
#hemisphereToggle {
     position: absolute;
     left: -12%;
     top: -8%;
     font-size: 3rem;
     color: rgb(255, 222, 113);
     /* color: rgb(255, 209, 80); */
     /* text-shadow: 2px 2px 4px rgb(255, 209, 80); */
     cursor: pointer;
     transition: text-shadow .5s, transform .5s;

     text-shadow: 0 0 1px rgba(0, 0, 0,1);
     /* text-shadow: 0 3px 3px rgba(0, 0, 0,1); */
     /* transform: translateY(-2px); */
     
}
#hemisphereToggle:hover {
     /* text-shadow: 0 0 2px rgba(255, 255, 255,1); */
     text-shadow: 0 3px 3px rgba(0, 0, 0,1);
     /* transform: translateY(-2px); */
     transform: translateY(-2px);
     transition: .5s;
     /* animation: wiggle 1s linear infinite; */
}
#hemisphereToggle:active {
     /* text-shadow: 0 0 3px rgba(255, 255, 255,1); */
     text-shadow: 0 0 3px rgba(255, 255, 255,1);
     transform: translateY(0px);
     transition: text-shadow .2s;
}


#search {
     width: 30rem;
     text-align: center;
     border-radius: 10px;
     padding: .5rem;
     background: rgb(255, 222, 113);
}

@media all and (max-width: 405px) {
     #search {
          position: relative;
          left: 5%;
          width: 25rem;
     }
     #hemisphereToggle {
          left: -8%;

     }
     
}



/* CONTENT GRID */
#contentGrid {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
}

/* CONTENT ITEMS */
.contentItem {
     position: relative;
     border: 2px solid black;
     border-radius: 10px;
     /* height: 25rem; */
     width: 20rem;
     /* padding: .5rem; */
     /* padding-bottom: .5rem; */
     margin: .5rem;
     /* background: rgb(255, 255, 255); */
     background: rgb(255, 222, 113);
     box-shadow: -2px 2px 5px black;

     /* text-shadow: -1 0 1px white, 0 0 2px white, 0 0 3px white; */
     /* font-weight: bold; */

     display: flex;
     flex-flow: column nowrap;
     align-items: center;

     transition: transform .3s;
     z-index: 0;
}

@media all and (max-width: 435px) {
     .contentItem {
          width: 15rem;
          margin: .2rem;
     }

}

.contentItem:hover {
     transform: scale(1.1);
     transition: transform .3s;
     z-index: 1;
}



.contentItem h2,
.blathersFullInnerWindow h2 {
     width: 100%;
     background: rgba(255,255,255,.5);
     border-radius: 10px 10px 0 0;
     padding: .4rem;
     text-align: center;
     text-shadow: -2px 2px 5px rgba(0,0,0,.5);
}

.contentItem p {
     font-size: 1.5rem;
}

/* ! ----------------------- VILLAGERS ----------------------- */
.name {
     font-size: 2rem;
     margin-bottom: .2rem;
}


/* Personality (Fish, Bug: Location) */
.contentItem h4:first-of-type {
     font-size: 1.3rem;
     padding: .2rem;
     margin-bottom: .2rem;
}

.personality i {
     color: black;
}

/* Birthday (Fish, Bug: Rarity) */
.contentItem h4 {
     font-size: 1.3rem;
     margin-bottom: .2rem;
}

/* Special style applied if it is villager's birthday */
.birthdayMonth {
     background: url(../assets/confetti.png), rgb(255, 222, 113);
     background-size: 170%;
}

.birthdayMonth .birthday {
     color: red;
     font-weight: bold;
}

.birthdayDay {
     background: url(../assets/confetti.png), rgb(255, 255, 0);
     background-size: 170%;
}

/* Villager Image Box - Img & Catchphrase Hover */
.villagerImgBox {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 90%;
     margin-bottom: 1rem;
}


.content img {
     border-radius: 10px;
     max-width: 100%;
     margin-bottom: .2rem;
}



/* Catchphrase */
.contentItem:hover .catchphraseBox {
     opacity: 1;
     transition: opacity .5s;
}
.catchphraseBox {
     opacity: 0;
     transition: opacity .5s;
     position: absolute;
     top: 0;
     height: 99%;
     width: 100%;

     background: rgba(0,0,0,.5);
     border-radius: 10px;

     display: flex;
     flex-flow: column nowrap;
     justify-content: flex-end;
     align-items: center;

     color: white;
     font-size: 2rem;
}

.catchphraseBox img {
     max-height: 4rem;
     /* animation: wiggle 3s linear infinite; */

}

.catchphrase {
     display: inline-block;
     background: rgba(255,255,255,.7);
     color: black;
     padding: .3rem;
     
     border-radius: 10px;
}

/* Quote */
.content p {
     
}

p.quote {
     font-size: 1.3rem;
     text-align: center;
     /* width: 80%; */
     /* padding-bottom: .8rem; */
     width: 100%;
     max-width: 100%;
     background: rgba(255, 255, 255,.5);
     padding: .5rem 1.5rem .5rem 1.5rem;
     height: 100%;
     border-radius: 0 0 10px 10px;
}

/* ! ------------------------- FISH / CRITTERS---------------------- */
/* Available In Current Month */
.availableNow {
     background: radial-gradient(rgb(255, 244, 207), orange),rgb(255, 222, 113);
     border: 2px solid black;
}

/* Location */
.location {
     font-size: 1.3rem;
     padding: .2rem;
     margin-bottom: .2rem;
     text-align: center;
}

.location i {
     color: black;
}


/* Critter Image Box */
.critterImgBox {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 95%;
}

.markers {
     font-size: 2rem;
     display: flex;
}

/* Critter Saleprice  */
#salesPrice {
     position: absolute;
     bottom: 0;
     background: rgba(255, 255, 255,.5);
     padding: .2rem .4rem 0 .4em;
     border-radius: 10px 10px 0 0;

     display: flex;
     flex-flow: row nowrap;
     align-items: center;
     justify-content: center;;
}
#salesPrice img {
     max-width: 1.5rem;
}

/* Critter Hover Box */
.contentItem.fish:hover,
.contentItem.sea:hover,
.contentItem.bug:hover {
     cursor: pointer;
}

.contentItem:hover .critterHoverBox {
     opacity: 1;
     transition: opacity .5s;
}
.critterHoverBox {
     opacity: 0;
     transition: opacity .5s;
     position: absolute;
     top: 0;
     height: 99%;
     width: 100%;

     background: rgba(0,0,0,.5);
     border-radius: 10px;

     display: flex;
     flex-flow: column nowrap;
     justify-content: flex-end;
     align-items: center;

     color: white;
     font-size: 1.7rem;
}

.critterHoverBox img {
     max-height: 4rem;
     /* animation: wiggle 3s linear infinite; */
}

.blathersQuote {
     display: inline-block;
     text-align: center;
     background: rgba(255,255,255,.7);
     color: black;
     padding: .3rem;
     
     border-radius: 10px;
}


/* ! ----------------- BLATHERS FULL DESCRIPTION POP UPWINDOW ------------- */
.blathersFullWindow {
     position: fixed;
     width: 100vw;
     height: 100vh;
     background:rgba(0, 0, 0,.5);
     z-index: 5;
     cursor: pointer;
     opacity: 1;
     /* overflow: none; */

     transition: opacity .5s;
}


.blathersFullInnerWindow {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: left;
     background:rgba(0, 0, 0,.9);
     background: rgb(255, 222, 113);
     border: 2px solid black;
     color: black;
     z-index: 10;
     font-size: 2rem;
     width: 90vw;
     max-width: 50rem;

     border-radius: 10px;
     padding-bottom: 1.5rem;

     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
}
.blathersFullInnerWindow h2 {
     font-size: 3rem;
}

#blathersFullImgBox {
     position: relative;
}
.bigFish {
     max-width: 100%;
     padding: 0 1.5rem 0 1.5rem;
}

.blathersFullInnerWindow p {
     margin: 0 1rem .5rem 1rem;
     padding: 1rem;
     background: rgba(255, 255, 255,.5);
     border-radius: 10px;
}

.blathersFace {
     position: absolute;
     max-height: 8rem;
     /* text-align: center; */
     bottom: 0;
     /* left: 50%; */
     /* transform: translateX(-50%); */
     right: 1rem;
     /* left: 0rem; */
     /* z-index: -1 */
     animation: smallwiggle 4s linear infinite;
}

@keyframes smallwiggle {
     0% {
          transform: rotate(-5deg);
     }
     25%{
          transform: rotate(-10deg);
     }
     75%{
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(-5deg);
     }
}

.blathersHidden {
     opacity: 0;
     transition: .5s;
}

.blathersHiddenZ {
     z-index: -5;
}




/* Searchbar */


/* Content Grid */




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
     opacity: 0;
}

