/* Box Model Bugfixer */
/* * {
     outline: 1px solid red;
} */

/* Box Model */
* {
     box-sizing: border-box;
}

/******************************************
/* COLORS
/*******************************************/



/******************************************
/* TYPOGRAPHY
/*******************************************/
@font-face {
     font-family: 'Fink Heavy';
     src: url('../assets/FinkHeavy.otf') format('opentype');
}
@font-face {
     font-family: 'Adventure';
     src: url('../assets/Adventure.otf') format('opentype');
}
html {
     font-family: 'Source Sans Pro', sans-serif;
}

html a,
h2 {
     /* font-family: 'Concert One', cursive; */
     font-family: 'Fink Heavy', serif;
     /* font-family: 'Adventure' */
    
}



/******************************************
/* BASE STYLES
/*******************************************/
/* Set 1 rem to 10px */
html {
     font-size: 62.5%;
     /* font-family: sans-serif; */
     

     background: url('../assets/grassPattern.png');
     background-size: 70px;
     /* background-size: 100% auto; */
     /* background-position: contain; */
     background-attachment: fixed;
     /* background: rgb(255, 222, 113); */
     /* padding-top: 2rem; */
}

body {
     position: relative;
}

/******************************************
/* LAYOUT
/*******************************************/



/* HEADER/ NAV LAYOUT */
header {
     position: relative;

     /* background: rgb(255, 222, 113); */
     background: url('../assets/acnhBeachCropped_sm.jpg');
     background-size: contain;
     background-repeat: repeat-x;

     display: flex;
     flex-flow: column nowrap;
     justify-content: space-around;
     align-items: center;
     border-bottom: 3px dashed black;

     overflow: hidden;
}

/* FLOATING BALLOON */
#balloon {
     position: absolute;
     top: 10%;
     animation: sway 5s linear infinite, float 40s linear infinite alternate;
}

@keyframes sway {
     0% {
          transform: rotate(15deg)
     }
     /* 45% {
          transform: rotate(-10deg)
     } */
     50% {
          transform: rotate(-15deg)
     }
     /* 95% {
          transform: rotate(10deg)
     } */

     100% {
          transform: rotate(15deg)
     }
}

@keyframes float {
     0% {
          right: 150%
     }
     100% {
          right: -50%
     }
}

@keyframes bob {
     0% {
          top: 10%;
     }
     50% {
          top: 15%;
     }
     100% {
          top: 10%;
     }
}

/* LOGO */
.logo {
     max-height: 15rem;
     margin: .5rem;
     /* z-index: 1; */
}

h1 {
     font-size: 3rem;
}

/* Audio */
audio {
     height: 2rem;
}

/* Nav */
header ul {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     font-size: 2rem;
     background: rgba(0,0,0,.20);
     border-radius: 10px 10px 0 0;
}

header li {
     margin: 1rem;
}

header a {
     display: inline-block;
     text-decoration: none;
     color: rgb(95, 38, 112);
     transition: color .5s, text-shadow .5s;

     /* text-shadow: -2px 2px 5px rgba(0,0,0,.5); */


}

header a:hover {
     color: rgb(213, 75, 255);
     /* text-shadow: -2px 2px 5px rgba(0,0,0,1); */
     text-shadow: 0 0 5px white;

     transition: color .5s, text-shadow .5s;
}




/* CONTENT LAYOUT */
.content {
     /* padding-top: 1rem; */

     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
 
}

/* Category Heading & Search Bar */
.headerBox {
     background: rgba(255,255,255,.5)
}
h2.category {
     font-size: 3rem;
     padding: 1rem;
     width: 100%;
     text-align: center;

}

/* Search Bar */
form {
     background: rgba(0,0,0,.5);
}
form span {
     display: block;
     font-size: 2rem;
}

#search {
     min-width: 30rem;
     text-align: center;
}


/* CONTENT GRID */
#contentGrid {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
}

/* CONTENT ITEMS */
.contentItem {
     position: relative;
     border: 1px solid black;
     border-radius: 10px;
     /* height: 25rem; */
     width: 20rem;
     /* padding: .5rem; */
     padding-bottom: .5rem;
     margin: .5rem;
     /* background: rgb(255, 255, 255); */
     background: rgb(255, 222, 113);
     box-shadow: -2px 2px 5px black;

     /* text-shadow: -1 0 1px white, 0 0 2px white, 0 0 3px white; */
     /* font-weight: bold; */

     display: flex;
     flex-flow: column nowrap;
     align-items: center;

     transition: transform .3s;
     z-index: 0;
}

.contentItem:hover {
     transform: scale(1.1);
     transition: transform .3s;
     z-index: 1;
}



.contentItem h2 {
     width: 100%;
     background: rgba(255,255,255,.5);
     border-radius: 10px 10px 0 0;
     padding: .4rem;
     text-align: center;
     text-shadow: -2px 2px 5px rgba(0,0,0,.5);
}

/* Villagers */
.name {
     font-size: 2rem;
     margin-bottom: .2rem;
}


/* Personality */
.personality {
     font-size: 1.3rem;
     padding: .2rem;
     margin-bottom: .2rem;
}

.personality i {
     color: black;
}

/* Birthday */
.birthday {
     font-size: 1.3rem;
     margin-bottom: .2rem;
}

.birthdayMonth {
     background: url(../assets/confetti.png), rgb(255, 222, 113);
     background-size: 170%;
}

.birthdayMonth .birthday {
     color: red;
     font-weight: bold;
}

.birthdayDay {
     background: url(../assets/confetti.png), rgb(255, 255, 0);
     background-size: 170%;
}

/* Villager Image Box - Img & Catchphrase Hover */
.villagerImgBox {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 90%;
}


.content img {
     border-radius: 10px;
     max-width: 100%;
     margin-bottom: .2rem;
}

.contentItem:hover .catchphraseBox {
     opacity: 1;
     transition: opacity .5s;
}

/* Catchphrase */
.catchphraseBox {
     opacity: 0;
     transition: opacity .5s;
     position: absolute;
     top: 0;
     height: 99%;
     width: 100%;

     background: rgba(0,0,0,.5);
     border-radius: 10px;

     display: flex;
     flex-flow: column nowrap;
     justify-content: flex-end;
     align-items: center;

     color: white;
     font-size: 2rem;
}

.catchphraseBox img {
     max-height: 4rem;
}

.catchphrase {
     display: inline-block;
     background: rgba(255,255,255,.7);
     color: black;
     padding: .3rem;
     
     border-radius: 10px;
}


/* Quote */
.content p {
     font-size: 1.3rem;
     text-align: center;
     max-width: 80%;
}




/* Searchbar */


/* Content Grid */




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
     opacity: 0;
}